.content {
     width: 80%;
     height: auto;
     // border: $border;
     margin-top: 30px;
     background: url(../imgs/bg_ZAK.png) no-repeat center top/cover;
     font-size: 100% 100%;
     border-radius: 30px;


     .content2 {
          width: 100%;
          height: auto;
          padding: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 30px;
          background: rgba(0, 80, 77, 0.4);

          .meddil {
               width: 50%;
               height: auto;

               .vash {
                    font-size: 52px;
                    text-align: center;
                    color: #ffff;
                    font-family: 'Inter', sans-serif;
               }
          }

          .prosta {
               width: 60%;
               height: auto;
               margin-top: 10px;
               

               .nayti {
                    font-size: 30px;
                    font-family: 'Inter', sans-serif;
                    color: #fff;
                    text-align: center;
               }
          }

          .tugma {
               width: 120px;
               height: 40px;
               background-color:
                    #00AC73;
               display: flex;
               align-items: center;
               justify-content: center;
               margin-top: 20px;
               border-radius: 20px;

               a {
                    width: 50%;
                    height: 50%;
                    font-family: 'Inter', sans-serif;
                    color: #fff;

               }
          }
     }

}